In [1]:
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
from functools import reduce

%matplotlib inline

## US total cats and dogs dataset from 2019 to 2021

In [2]:
sac_dataset = pd.read_csv('../data/sac_aggregate_dataset_2019_2021.csv')
sac_dataset

,State,Year,Intake - Relinquished By Owner Total-Feline,Intake - Stray At Large Total-Feline,Intake - Transferred In Total-Feline,Intake - Owner Intended Euthanasia Total-Feline,Intakes - Other Intakes Total-Feline,Live Outcome - Adoption Total-Feline,Live Outcome - Returned To Owner Total-Feline,Live Outcome - Returned To Field Total-Feline,...,Intakes - Other Intakes Total-Canine,Live Outcome - Adoption Total-Canine,Live Outcome - Returned To Owner Total-Canine,Live Outcome - Returned To Field Total-Canine,Live Outcome - Transferred Out Total-Canine,Live outcome - Other Live Outcome Total-Canine,Other Outcome - Died In Care Total-Canine,Other Outcome - Lost In Care Total-Canine,Other Outcome - Owner Intended Euthanasia Total-Canine,Other Outcome - Shelter Euthanasia Total-Canine
0,AK,2019,850,"1,786",32,67,68,"1,689",353,0,...,0,0,0,0,0,0,0,0,0,0
1,AK,2020,800,"1,404",61,51,68,"1,755",331,0,...,0,0,0,0,0,0,0,0,0,0
2,AK,2021,743,"1,522",85,37,70,"1,886",289,1,...,0,0,0,0,0,0,0,0,0,0
3,AL,2019,"5,006","7,199",811,16,467,"7,582",140,744,...,494,"9,484","2,895",15,"5,927",1,310,27,111,"3,094"
4,AL,2020,"3,495","6,803",527,19,525,"6,816",140,747,...,413,"7,480","2,303",16,"6,483",5,253,21,63,"2,054"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,WV,2020,"1,208","5,146",30,0,85,"3,455",90,15,...,102,"2,916",919,1,"2,707",72,63,5,0,159
155,WV,2021,"1,588","6,060",524,0,166,"5,072",85,192,...,331,"5,306","1,459",2,"2,428",86,95,12,0,197
156,WY,2019,"1,080","1,874",364,26,"1,140","2,499",196,70,...,"1,735","1,975","1,467",1,114,752,28,0,65,159
157,WY,2020,819,"1,458",394,24,"1,112","2,184",155,72,...,750,"1,662","1,024",0,57,397,11,1,58,113
158,WY,2021,894,"1,240",557,19,"1,120","2,362",175,17,...,"1,034","1,510",960,0,59,398,7,2,59,113

In [3]:
sac_dataset.dtypes

State                                                     object
Year                                                       int64
Intake - Relinquished By Owner Total-Feline               object
Intake - Stray At Large Total-Feline                      object
Intake - Transferred In Total-Feline                      object
Intake - Owner Intended Euthanasia Total-Feline           object
Intakes - Other Intakes Total-Feline                      object
Live Outcome - Adoption Total-Feline                      object
Live Outcome - Returned To Owner Total-Feline             object
Live Outcome - Returned To Field Total-Feline             object
Live Outcome - Transferred Out Total-Feline               object
Live outcome - Other Live Outcome Total-Feline            object
Other Outcome - Died In Care Total-Feline                 object
Other Outcome - Lost In Care Total-Feline                  int64
Other Outcome - Owner Intended Euthanasia Total-Feline    object
Other Outcome - Shelter Euthanasia Total-Feline           object
Intake - Relinquished By Owner Total-Canine               object
Intake - Stray At Large Total-Canine                      object
Intake - Transferred In Total-Canine                      object
Intake - Owner Intended Euthanasia Total-Canine           object
Intakes - Other Intakes Total-Canine                      object
Live Outcome - Adoption Total-Canine                      object
Live Outcome - Returned To Owner Total-Canine             object
Live Outcome - Returned To Field Total-Canine              int64
Live Outcome - Transferred Out Total-Canine               object
Live outcome - Other Live Outcome Total-Canine            object
Other Outcome - Died In Care Total-Canine                 object
Other Outcome - Lost In Care Total-Canine                  int64
Other Outcome - Owner Intended Euthanasia Total-Canine    object
Other Outcome - Shelter Euthanasia Total-Canine           object
dtype: object

## Dividing sac_dataset into felines and canines

In [4]:
sac_feline = sac_dataset[['State',
    'Year',                                                       
    'Intake - Relinquished By Owner Total-Feline',               
    'Intake - Stray At Large Total-Feline',                      
    'Intake - Transferred In Total-Feline',                      
    'Intake - Owner Intended Euthanasia Total-Feline',           
    'Intakes - Other Intakes Total-Feline',                      
    'Live Outcome - Adoption Total-Feline',                     
    'Live Outcome - Returned To Owner Total-Feline',             
    'Live Outcome - Returned To Field Total-Feline',            
    'Live Outcome - Transferred Out Total-Feline',             
    'Live outcome - Other Live Outcome Total-Feline',         
    'Other Outcome - Died In Care Total-Feline',                 
    'Other Outcome - Lost In Care Total-Feline',              
    'Other Outcome - Owner Intended Euthanasia Total-Feline',
    'Other Outcome - Shelter Euthanasia Total-Feline']]

sac_feline

,State,Year,Intake - Relinquished By Owner Total-Feline,Intake - Stray At Large Total-Feline,Intake - Transferred In Total-Feline,Intake - Owner Intended Euthanasia Total-Feline,Intakes - Other Intakes Total-Feline,Live Outcome - Adoption Total-Feline,Live Outcome - Returned To Owner Total-Feline,Live Outcome - Returned To Field Total-Feline,Live Outcome - Transferred Out Total-Feline,Live outcome - Other Live Outcome Total-Feline,Other Outcome - Died In Care Total-Feline,Other Outcome - Lost In Care Total-Feline,Other Outcome - Owner Intended Euthanasia Total-Feline,Other Outcome - Shelter Euthanasia Total-Feline
0,AK,2019,850,"1,786",32,67,68,"1,689",353,0,25,0,56,2,68,477
1,AK,2020,800,"1,404",61,51,68,"1,755",331,0,38,0,60,5,50,155
2,AK,2021,743,"1,522",85,37,70,"1,886",289,1,69,0,98,0,38,57
3,AL,2019,"5,006","7,199",811,16,467,"7,582",140,744,"1,104",0,423,31,21,"2,663"
4,AL,2020,"3,495","6,803",527,19,525,"6,816",140,747,"1,139",0,272,35,14,"1,456"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,WV,2020,"1,208","5,146",30,0,85,"3,455",90,15,"1,767",86,362,33,1,630
155,WV,2021,"1,588","6,060",524,0,166,"5,072",85,192,"1,854",65,503,0,1,581
156,WY,2019,"1,080","1,874",364,26,"1,140","2,499",196,70,241,724,115,4,29,476
157,WY,2020,819,"1,458",394,24,"1,112","2,184",155,72,187,745,45,4,23,218
158,WY,2021,894,"1,240",557,19,"1,120","2,362",175,17,118,605,54,4,19,169

In [5]:
sac_canine = sac_dataset[['State', 'Year',
    'Intake - Relinquished By Owner Total-Canine',              
    'Intake - Stray At Large Total-Canine',                 
    'Intake - Transferred In Total-Canine',                     
    'Intake - Owner Intended Euthanasia Total-Canine',        
    'Intakes - Other Intakes Total-Canine',                   
    'Live Outcome - Adoption Total-Canine',                    
    'Live Outcome - Returned To Owner Total-Canine',           
    'Live Outcome - Returned To Field Total-Canine',         
    'Live Outcome - Transferred Out Total-Canine',               
    'Live outcome - Other Live Outcome Total-Canine',         
    'Other Outcome - Died In Care Total-Canine',                 
    'Other Outcome - Lost In Care Total-Canine',                  
    'Other Outcome - Owner Intended Euthanasia Total-Canine',  
    'Other Outcome - Shelter Euthanasia Total-Canine']]

sac_canine

,State,Year,Intake - Relinquished By Owner Total-Canine,Intake - Stray At Large Total-Canine,Intake - Transferred In Total-Canine,Intake - Owner Intended Euthanasia Total-Canine,Intakes - Other Intakes Total-Canine,Live Outcome - Adoption Total-Canine,Live Outcome - Returned To Owner Total-Canine,Live Outcome - Returned To Field Total-Canine,Live Outcome - Transferred Out Total-Canine,Live outcome - Other Live Outcome Total-Canine,Other Outcome - Died In Care Total-Canine,Other Outcome - Lost In Care Total-Canine,Other Outcome - Owner Intended Euthanasia Total-Canine,Other Outcome - Shelter Euthanasia Total-Canine
0,AK,2019,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,AK,2020,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,AK,2021,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,AL,2019,"6,383","13,978","1,784",113,494,"9,484","2,895",15,"5,927",1,310,27,111,"3,094"
4,AL,2020,"5,919","10,502","2,159",67,413,"7,480","2,303",16,"6,483",5,253,21,63,"2,054"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,WV,2020,"2,250","4,109",172,9,102,"2,916",919,1,"2,707",72,63,5,0,159
155,WV,2021,"2,605","5,049","1,781",1,331,"5,306","1,459",2,"2,428",86,95,12,0,197
156,WY,2019,831,"1,112",779,60,"1,735","1,975","1,467",1,114,752,28,0,65,159
157,WY,2020,526,"1,102",804,58,750,"1,662","1,024",0,57,397,11,1,58,113
158,WY,2021,614,801,660,58,"1,034","1,510",960,0,59,398,7,2,59,113