In [1]:
import pandas as pd
from datetime import datetime
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
from functools import reduce

%matplotlib inline

## Dataset for Austin TX  from 2013 to 2022

In [2]:
austin_dataset = pd.read_csv('../data/Austin_Animal_Center_Outcomes.csv')
austin_dataset

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
142484,A862977,NaN,08/03/2022 02:07:00 PM,Aug 2022,07/30/2022,Transfer,Partner,Dog,Intact Female,4 days,Pit Bull,Black/White
142485,A862978,NaN,08/03/2022 02:07:00 PM,Aug 2022,07/30/2022,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,Black/White
142486,A862760,A862760,08/03/2022 02:54:00 PM,Aug 2022,06/30/2022,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Tortie
142487,A862446,NaN,08/03/2022 02:57:00 PM,Aug 2022,06/19/2022,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Torbie
142488,A862982,NaN,08/03/2022 02:11:00 PM,Aug 2022,07/30/2022,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,White/Brown

In [23]:
austin_dataset.dtypes

Animal ID                   object
Name                        object
DateTime            datetime64[ns]
Month                       object
Date of Birth       datetime64[ns]
Outcome Type                object
Outcome Subtype             object
Animal Type                 object
Sex upon Outcome            object
Age upon Outcome            object
Breed                       object
Color                       object
Year                        object
Age                        float64
Breeds                      object
dtype: object

### separate column month and year

In [3]:
austin_dataset[['MonthYear', 'Year']] = austin_dataset['MonthYear'].str.split(' ', 1, expand=True)
austin_dataset = austin_dataset.rename(columns= {'MonthYear': 'Month'})
austin_dataset

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year
0,A794011,Chunk,05/08/2019 06:20:00 PM,May,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,2019
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,2018
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,2020
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,2016
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142484,A862977,NaN,08/03/2022 02:07:00 PM,Aug,07/30/2022,Transfer,Partner,Dog,Intact Female,4 days,Pit Bull,Black/White,2022
142485,A862978,NaN,08/03/2022 02:07:00 PM,Aug,07/30/2022,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,Black/White,2022
142486,A862760,A862760,08/03/2022 02:54:00 PM,Aug,06/30/2022,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Tortie,2022
142487,A862446,NaN,08/03/2022 02:57:00 PM,Aug,06/19/2022,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Torbie,2022
142488,A862982,NaN,08/03/2022 02:11:00 PM,Aug,07/30/2022,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,White/Brown,2022

## ajusting the "Age upon Outcome" column into years only

In [4]:
austin_dataset['Date of Birth'] = pd.to_datetime(austin_dataset['Date of Birth'])
austin_dataset['DateTime'] = austin_dataset['DateTime'].apply(pd.Timestamp)
austin_dataset

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year
0,A794011,Chunk,2019-05-08 18:20:00,May,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,2019
1,A776359,Gizmo,2018-07-18 16:02:00,Jul,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,2018
2,A821648,NaN,2020-08-16 11:38:00,Aug,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,2020
3,A720371,Moose,2016-02-13 17:59:00,Feb,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,2016
4,A674754,NaN,2014-03-18 11:47:00,Mar,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142484,A862977,NaN,2022-08-03 14:07:00,Aug,2022-07-30,Transfer,Partner,Dog,Intact Female,4 days,Pit Bull,Black/White,2022
142485,A862978,NaN,2022-08-03 14:07:00,Aug,2022-07-30,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,Black/White,2022
142486,A862760,A862760,2022-08-03 14:54:00,Aug,2022-06-30,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Tortie,2022
142487,A862446,NaN,2022-08-03 14:57:00,Aug,2022-06-19,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Torbie,2022
142488,A862982,NaN,2022-08-03 14:11:00,Aug,2022-07-30,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,White/Brown,2022

In [5]:
austin_dataset['Age'] = (austin_dataset['DateTime'] - austin_dataset['Date of Birth'])
austin_dataset['Age'] = round(((austin_dataset['Age'].dt.days)/365), 0)
austin_dataset['Breeds'] = austin_dataset['Breed'].str.replace(' Mix', '')
austin_dataset

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year,Age,Breeds
0,A794011,Chunk,2019-05-08 18:20:00,May,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,2019,2.0,Domestic Shorthair
1,A776359,Gizmo,2018-07-18 16:02:00,Jul,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,2018,1.0,Chihuahua Shorthair
2,A821648,NaN,2020-08-16 11:38:00,Aug,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,2020,1.0,Raccoon
3,A720371,Moose,2016-02-13 17:59:00,Feb,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,2016,0.0,Anatol Shepherd/Labrador Retriever
4,A674754,NaN,2014-03-18 11:47:00,Mar,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,2014,0.0,Domestic Shorthair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142484,A862977,NaN,2022-08-03 14:07:00,Aug,2022-07-30,Transfer,Partner,Dog,Intact Female,4 days,Pit Bull,Black/White,2022,0.0,Pit Bull
142485,A862978,NaN,2022-08-03 14:07:00,Aug,2022-07-30,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,Black/White,2022,0.0,Pit Bull
142486,A862760,A862760,2022-08-03 14:54:00,Aug,2022-06-30,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Tortie,2022,0.0,Domestic Shorthair
142487,A862446,NaN,2022-08-03 14:57:00,Aug,2022-06-19,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Torbie,2022,0.0,Domestic Shorthair
142488,A862982,NaN,2022-08-03 14:11:00,Aug,2022-07-30,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,White/Brown,2022,0.0,Pit Bull

### Outcome types count by year

In [6]:
outcome = austin_dataset.groupby(['Year','Outcome Type']).count()
outcome = outcome.reset_index()
outcome = outcome[['Year','Outcome Type', 'Animal ID']]
outcome = outcome.rename(columns= {'Animal ID':' Outcome Type Count'}).sort_values('Year', ascending= True)
outcome 
#outcome['total adoption'] = outcome['']

    Year     Outcome Type   Outcome Type Count
0   2013         Adoption                 1842
1   2013             Died                   25
2   2013         Disposal                   13
3   2013       Euthanasia                  462
4   2013          Missing                    2
..   ...              ...                  ...
81  2022             Lost                    1
82  2022         Relocate                    1
83  2022  Return to Owner                  731
84  2022        Rto-Adopt                   95
86  2022         Transfer                 2066

[87 rows x 3 columns]

## #########################################################################

# ADOPTION

## animals adoption

In [8]:
adopt_df = austin_dataset[(austin_dataset['Outcome Type'] == 'Adoption') + 
                          (austin_dataset['Outcome Type'] == 'Return to Owner') + 
                          (austin_dataset['Outcome Type'] == 'Relocate') + 
                          (austin_dataset['Outcome Type'] == 'Rto-Adopt')]
adopt_df

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year,Age,Breeds
0,A794011,Chunk,2019-05-08 18:20:00,May,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,2019,2.0,Domestic Shorthair
1,A776359,Gizmo,2018-07-18 16:02:00,Jul,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,2018,1.0,Chihuahua Shorthair
3,A720371,Moose,2016-02-13 17:59:00,Feb,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,2016,0.0,Anatol Shepherd/Labrador Retriever
5,A659412,Princess,2020-10-05 14:37:00,Oct,2013-03-24,Adoption,NaN,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown,2020,8.0,Chihuahua Shorthair
6,A814515,Quentin,2020-05-06 07:59:00,May,2018-03-01,Adoption,Foster,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown,2020,2.0,American Foxhound/Labrador Retriever
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142449,A861955,*Bonnet,2022-08-02 09:40:00,Aug,2020-07-20,Adoption,NaN,Dog,Spayed Female,2 years,Labrador Retriever Mix,Tan,2022,2.0,Labrador Retriever
142462,A843523,*Chewy,2022-01-22 16:51:00,Jan,2019-10-02,Rto-Adopt,NaN,Dog,Neutered Male,2 years,American Bulldog,White,2022,2.0,American Bulldog
142464,A862727,Bella,2022-08-03 11:14:00,Aug,2016-08-02,Return to Owner,NaN,Dog,Intact Female,6 years,Chihuahua Shorthair,Blue Merle,2022,6.0,Chihuahua Shorthair
142465,A862041,*Comet,2022-08-01 16:07:00,Aug,2022-02-21,Adoption,NaN,Dog,Neutered Male,5 months,Australian Cattle Dog Mix,Blue Merle/White,2022,0.0,Australian Cattle Dog
142468,A859222,*Tinsel,2022-08-03 14:50:00,Aug,2022-03-12,Adoption,NaN,Cat,Spayed Female,4 months,Domestic Shorthair Mix,Black,2022,0.0,Domestic Shorthair

In [9]:
adopt_pets = adopt_df.groupby(['Animal Type']).count()
adopt_pets = adopt_pets.reset_index()
adopt_pets = adopt_pets[['Animal Type', 'Animal ID']].rename(columns= {'Animal ID':'Adopted Count'})
adopt_pets = adopt_pets.sort_values("Adopted Count", ascending = False)
adopt_pets

  Animal Type  Adopted Count
2         Dog          59853
1         Cat          28714
4       Other            793
0        Bird            291
3   Livestock             17

## Adoption pets by year

In [52]:
adopt_pets_year = adopt_df.groupby(['Year','Animal Type']).count().rename(columns= {'Animal ID':'Count'})
#adopt_pets-year = adopt_pets_year.reset_index()
adopt_pets_year = adopt_pets_year.drop(columns= {'Name', 'DateTime','Month', 'Date of Birth','Outcome Type', 'Outcome Subtype','Sex upon Outcome', 'Age upon Outcome', 'Breed', 'Color', 'Age', 'Breeds'})
adopt_pets_year = adopt_pets_year.sort_values("Year", ascending = True)
adopt_pets_year

                  Count
Year Animal Type
2013 Bird             1
     Cat            808
     Dog           1778
     Livestock        1
     Other            2
2014 Bird            16
     Cat           2886
     Dog           7511
     Livestock        2
     Other           23
2015 Other           23
     Dog           7627
     Cat           3215
     Bird            21
2016 Bird            63
     Cat           3424
     Dog           7811
     Other           84
2017 Bird            27
     Cat           3644
     Dog           7668
     Other          115
2018 Other           90
     Livestock        1
     Bird            64
     Cat           3344
     Dog           7578
2019 Bird            37
     Cat           4019
     Dog           8411
     Livestock        6
     Other          143
2020 Other           87
     Dog           4084
     Livestock        2
     Bird            17
     Cat           2165
2021 Bird            11
     Cat           3379
     Dog           4711
     Livestock        5
     Other          173
2022 Dog           2674
     Bird            34
     Cat           1830
     Other           53

# adopted dog breeds

In [10]:
dog_breed_1 = adopt_df[adopt_df['Animal Type'] == 'Dog']
adopt_dog_breed = dog_breed_1.groupby(['Breeds']).count().sort_values('Animal ID', ascending = False)
adopt_dog_breed = adopt_dog_breed.reset_index()
adopt_dog_breed = adopt_dog_breed[['Breeds', 'Animal ID']].rename(columns= {'Animal ID':'Adopted Breed Count'})
adopt_dog_breed

                                      Breeds  Adopted Breed Count
0                                   Pit Bull                 8417
1                         Labrador Retriever                 6839
2                        Chihuahua Shorthair                 5700
3                            German Shepherd                 3782
4                      Australian Cattle Dog                 1679
...                                      ...                  ...
1985      German Shorthair Pointer/Catahoula                    1
1986             Australian Kelpie/Shiba Inu                    1
1987  German Wirehaired Pointer/Basset Hound                    1
1988              Glen Of Imaal/Ibizan Hound                    1
1989     Yorkshire Terrier/Yorkshire Terrier                    1

[1990 rows x 2 columns]

## adopted dog's age (age is in years)

In [11]:
adopt_age = dog_breed_1.groupby(['Age']).count()
adopt_age = adopt_age.sort_values('Animal ID', ascending= False).reset_index()
adopt_age = adopt_age[['Age', 'Animal ID']].rename(columns= {'Animal ID': 'Adopted Age Count'})
adopt_age

     Age  Adopted Age Count
0    1.0              15450
1    2.0              12486
2    0.0              11421
3    3.0               5271
4    4.0               3252
5    5.0               2772
6    6.0               1885
7    7.0               1643
8    8.0               1546
9   10.0               1086
10   9.0                957
11  11.0                562
12  12.0                517
13  13.0                345
14  14.0                246
15  15.0                203
16  16.0                104
17  17.0                 46
18  18.0                 26
19  19.0                 18
20  20.0                  6
21  -1.0                  6
22  -2.0                  3
23  -3.0                  1
24  24.0                  1

## ##########################################################################

# EUTHANASIA

## Types of animals euthanized

In [12]:
austin_dataset

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year,Age,Breeds
0,A794011,Chunk,2019-05-08 18:20:00,May,2017-05-02,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,2019,2.0,Domestic Shorthair
1,A776359,Gizmo,2018-07-18 16:02:00,Jul,2017-07-12,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,2018,1.0,Chihuahua Shorthair
2,A821648,NaN,2020-08-16 11:38:00,Aug,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,2020,1.0,Raccoon
3,A720371,Moose,2016-02-13 17:59:00,Feb,2015-10-08,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,2016,0.0,Anatol Shepherd/Labrador Retriever
4,A674754,NaN,2014-03-18 11:47:00,Mar,2014-03-12,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,2014,0.0,Domestic Shorthair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142484,A862977,NaN,2022-08-03 14:07:00,Aug,2022-07-30,Transfer,Partner,Dog,Intact Female,4 days,Pit Bull,Black/White,2022,0.0,Pit Bull
142485,A862978,NaN,2022-08-03 14:07:00,Aug,2022-07-30,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,Black/White,2022,0.0,Pit Bull
142486,A862760,A862760,2022-08-03 14:54:00,Aug,2022-06-30,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Tortie,2022,0.0,Domestic Shorthair
142487,A862446,NaN,2022-08-03 14:57:00,Aug,2022-06-19,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Torbie,2022,0.0,Domestic Shorthair
142488,A862982,NaN,2022-08-03 14:11:00,Aug,2022-07-30,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,White/Brown,2022,0.0,Pit Bull

In [13]:
euthanized_df = austin_dataset[(austin_dataset['Outcome Type'] == 'Euthanasia') + 
                               (austin_dataset['Outcome Type'] == 'Disposal') + 
                               (austin_dataset['Outcome Type'] == 'Died')]
euthanized_df

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year,Age,Breeds
2,A821648,NaN,2020-08-16 11:38:00,Aug,2019-08-16,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,2020,1.0,Raccoon
17,A773792,NaN,2018-06-05 15:30:00,Jun,2018-05-05,Euthanasia,Suffering,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby,2018,0.0,Domestic Shorthair
19,A725795,NaN,2016-05-03 12:39:00,May,2016-04-15,Euthanasia,Underage,Other,Unknown,2 weeks,Opossum,Gray,2016,0.0,Opossum
27,A766700,NaN,2018-02-15 08:59:00,Feb,2017-02-15,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown,2018,1.0,Bat
33,A765701,NaN,2018-01-25 09:39:00,Jan,2017-01-25,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown,2018,1.0,Bat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142424,A858998,*Makaio,2022-08-01 17:00:00,Aug,2022-04-20,Euthanasia,Suffering,Cat,Neutered Male,3 months,Domestic Shorthair,Brown Tabby,2022,0.0,Domestic Shorthair
142431,A862455,Marble,2022-08-02 16:07:00,Aug,2020-07-26,Euthanasia,Suffering,Cat,Intact Female,2 years,Domestic Shorthair,Calico,2022,2.0,Domestic Shorthair
142440,A651306,Mason,2022-08-02 18:37:00,Aug,2011-04-08,Euthanasia,Suffering,Dog,Neutered Male,11 years,Rottweiler,Black/Tan,2022,11.0,Rottweiler
142450,A862975,A862975,2022-08-03 08:56:00,Aug,2022-06-27,Euthanasia,Suffering,Cat,Intact Male,NaN,Domestic Longhair,Black Tabby/Brown,2022,0.0,Domestic Longhair
142463,A862989,A862989,2022-08-03 11:47:00,Aug,2020-08-03,Euthanasia,Rabies Risk,Other,Unknown,NaN,Raccoon,Brown/Black,2022,2.0,Raccoon

In [14]:
euth_pets = euthanized_df.groupby(['Animal Type']).count()
euth_pets = euth_pets.reset_index()
euth_pets = euth_pets[['Animal Type', 'Animal ID']].rename(columns= {'Animal ID':'Euthanized Count'})
euth_pets = euth_pets.sort_values("Euthanized Count", ascending = False)
euth_pets

  Animal Type  Euthanized Count
4       Other              5759
1         Cat              3087
2         Dog              2299
0        Bird               188
3   Livestock                 3

In [55]:
euth_pets_year = euthanized_df.groupby(['Year','Animal Type']).count().rename(columns= {'Animal ID':'Count'})
#adopt_pets-year = adopt_pets_year.reset_index()
euth_pets_year = euth_pets_year.drop(columns= {'Name', 'DateTime','Month', 'Date of Birth','Outcome Type', 'Outcome Subtype','Sex upon Outcome', 'Age upon Outcome', 'Breed', 'Color', 'Age', 'Breeds'})
euth_pets_year = euth_pets_year.sort_values("Year", ascending = True)
euth_pets_year

                  Count
Year Animal Type
2013 Bird             2
     Cat            109
     Dog            191
     Other          198
2014 Bird             7
     Cat            507
     Dog            645
     Other          921
2015 Other          663
     Dog            455
     Bird            15
     Cat            542
2016 Bird            57
     Cat            343
     Dog            223
     Other          794
2017 Bird            30
     Cat            353
     Dog            129
     Other          811
2018 Other          636
     Livestock        1
     Cat            261
     Bird            20
     Dog            113
2019 Bird            21
     Cat            356
     Dog            188
     Other          548
2020 Livestock        1
     Bird            12
     Cat            224
     Dog            135
     Other          518
2021 Bird            13
     Cat            254
     Dog            132
     Other          385
2022 Dog             88
     Livestock        1
     Bird            11
     Cat            138
     Other          285

# euthanized dog breed

In [16]:
dog_breed_2 = euthanized_df[euthanized_df['Animal Type'] == 'Dog']
euth_dog_breed = dog_breed_2.groupby(['Breeds']).count().sort_values('Animal ID', ascending = False)
euth_dog_breed = euth_dog_breed.reset_index()
euth_dog_breed = euth_dog_breed[['Breeds', 'Animal ID']].rename(columns= {'Animal ID':'Euthanized Breed Count'})
euth_dog_breed

                                    Breeds  Euthanized Breed Count
0                                 Pit Bull                     605
1                      Chihuahua Shorthair                     253
2                       Labrador Retriever                     215
3                          German Shepherd                     102
4                    Australian Cattle Dog                      49
..                                     ...                     ...
270  German Shepherd/Australian Cattle Dog                       1
271      German Shepherd/Australian Kelpie                       1
272        German Shepherd/Black/Tan Hound                       1
273          German Shepherd/Border Collie                       1
274             German Shepherd/Rottweiler                       1

[275 rows x 2 columns]

## euthanized dog's age (age is in years)

In [18]:
euth_age = dog_breed_2.groupby(['Age']).count()
euth_age = euth_age.sort_values('Animal ID', ascending= False).reset_index()
euth_age = euth_age[['Age', 'Animal ID']].rename(columns= {'Animal ID': 'Euthanized Age Count'})
euth_age

     Age  Euthanized Age Count
0    2.0                   460
1    0.0                   368
2    1.0                   286
3    3.0                   231
4    4.0                   148
5    5.0                   133
6   10.0                   108
7    6.0                    90
8    8.0                    87
9    7.0                    74
10  12.0                    70
11   9.0                    56
12  13.0                    54
13  14.0                    41
14  11.0                    33
15  15.0                    25
16  16.0                    18
17  17.0                     9
18  18.0                     4
19  19.0                     2
20  20.0                     1
21  23.0                     1

## #########################################################################

# Merging dataframes

In [20]:
merge_pets = pd.merge(euth_pets, adopt_pets, on= 'Animal Type', how= 'outer')
merge_pets

  Animal Type  Euthanized Count  Adopted Count
0       Other              5759            793
1         Cat              3087          28714
2         Dog              2299          59853
3        Bird               188            291
4   Livestock                 3             17

In [15]:
# 'Other' animal type were wild animals like Raccoons, Bats, Skunks, Foxes, Squirrels, and Opossums

In [7]:
## explain why you decided to add other values besides Euthanasia and adoption for the calculations
## also explain why you did not use the values for on the 'Transfer' column

In [19]:
merge_age = pd.merge(euth_age, adopt_age, on = 'Age', how= 'outer')
merge_age

     Age  Euthanized Age Count  Adopted Age Count
0    2.0                 460.0            12486.0
1    0.0                 368.0            11421.0
2    1.0                 286.0            15450.0
3    3.0                 231.0             5271.0
4    4.0                 148.0             3252.0
5    5.0                 133.0             2772.0
6   10.0                 108.0             1086.0
7    6.0                  90.0             1885.0
8    8.0                  87.0             1546.0
9    7.0                  74.0             1643.0
10  12.0                  70.0              517.0
11   9.0                  56.0              957.0
12  13.0                  54.0              345.0
13  14.0                  41.0              246.0
14  11.0                  33.0              562.0
15  15.0                  25.0              203.0
16  16.0                  18.0              104.0
17  17.0                   9.0               46.0
18  18.0                   4.0               26.0
19  19.0                   2.0               18.0
20  20.0                   1.0                6.0
21  23.0                   1.0                NaN
22  -1.0                   NaN                6.0
23  -2.0                   NaN                3.0
24  -3.0                   NaN                1.0
25  24.0                   NaN                1.0

In [22]:
merge_dogs = pd.merge(euth_dog_breed, adopt_dog_breed, on= 'Breeds', how= 'outer')
merge_dogs

,Breeds,Euthanized Breed Count,Adopted Breed Count
0,Pit Bull,605.0,8417.0
1,Chihuahua Shorthair,253.0,5700.0
2,Labrador Retriever,215.0,6839.0
3,German Shepherd,102.0,3782.0
4,Australian Cattle Dog,49.0,1679.0
...,...,...,...
2018,German Shorthair Pointer/Catahoula,NaN,1.0
2019,Australian Kelpie/Shiba Inu,NaN,1.0
2020,German Wirehaired Pointer/Basset Hound,NaN,1.0
2021,Glen Of Imaal/Ibizan Hound,NaN,1.0
2022,Yorkshire Terrier/Yorkshire Terrier,NaN,1.0

In [17]:
## explain why did you chose the full breed names rather than the mix breed names...