In [1]:
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
from functools import reduce

%matplotlib inline

## Dataset for Austin TX

In [14]:
austin_dataset = pd.read_csv('../data/Austin_Animal_Center_Outcomes.csv')
austin_dataset

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
142484,A862977,NaN,08/03/2022 02:07:00 PM,Aug 2022,07/30/2022,Transfer,Partner,Dog,Intact Female,4 days,Pit Bull,Black/White
142485,A862978,NaN,08/03/2022 02:07:00 PM,Aug 2022,07/30/2022,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,Black/White
142486,A862760,A862760,08/03/2022 02:54:00 PM,Aug 2022,06/30/2022,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Tortie
142487,A862446,NaN,08/03/2022 02:57:00 PM,Aug 2022,06/19/2022,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Torbie
142488,A862982,NaN,08/03/2022 02:11:00 PM,Aug 2022,07/30/2022,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,White/Brown

### separate column month and year

In [15]:
austin_dataset[['MonthYear', 'Year']] = austin_dataset['MonthYear'].str.split(' ', 1, expand=True)
austin_dataset = austin_dataset.rename(columns= {'MonthYear': 'Month'})
austin_dataset

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year
0,A794011,Chunk,05/08/2019 06:20:00 PM,May,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,2019
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,2018
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,2020
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,2016
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142484,A862977,NaN,08/03/2022 02:07:00 PM,Aug,07/30/2022,Transfer,Partner,Dog,Intact Female,4 days,Pit Bull,Black/White,2022
142485,A862978,NaN,08/03/2022 02:07:00 PM,Aug,07/30/2022,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,Black/White,2022
142486,A862760,A862760,08/03/2022 02:54:00 PM,Aug,06/30/2022,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Tortie,2022
142487,A862446,NaN,08/03/2022 02:57:00 PM,Aug,06/19/2022,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Torbie,2022
142488,A862982,NaN,08/03/2022 02:11:00 PM,Aug,07/30/2022,Transfer,Partner,Dog,Intact Male,4 days,Pit Bull,White/Brown,2022

In [4]:
austin_dataset.dtypes

Animal ID           object
Name                object
DateTime            object
Month               object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
Year                object
dtype: object

In [5]:
#austin_dataset['Year'] = austin_dataset['Year'].astype(int)
#austin_dataset.dtypes

In [6]:
austin_dataset.describe()

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year
count,142489,100617,142489,142489,142489,142466,65363,142489,142487,142450,142489,142489,142489
unique,127518,24467,118395,12,7689,11,26,5,5,54,2769,621,10
top,A721033,Max,04/18/2016 12:00:00 AM,Jul,05/01/2016,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White,2019
freq,33,633,39,14343,119,65410,34367,79940,50028,24418,32926,14866,19775

### Euthanized/ Adopted pets percentage by Year

In [7]:
euth_vs_others = (austin_dataset.groupby(['Year', 'Outcome Type']).count())/100
euth_vs_others = euth_vs_others.reset_index()
euth_vs_others = euth_vs_others[['Year', 'Outcome Type', 'Animal ID']]
euth_vs_others = euth_vs_others.rename(columns= {'Animal ID':'Aniaml Count'})
euth_vs_others

    Year     Outcome Type  Aniaml Count
0   2013         Adoption         18.42
1   2013             Died          0.25
2   2013         Disposal          0.13
3   2013       Euthanasia          4.62
4   2013          Missing          0.02
..   ...              ...           ...
82  2022         Relocate          0.01
83  2022  Return to Owner          7.31
84  2022        Rto-Adopt          0.95
85  2022           Stolen          0.02
86  2022         Transfer         20.66

[87 rows x 3 columns]

### Types of animals euthanized percentage

In [ ]:
austin_dataset

In [8]:
euthanized_df = austin_dataset[austin_dataset['Outcome Type'] == 'Euthanasia']
euthanized_df

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,2020
17,A773792,NaN,06/05/2018 03:30:00 PM,Jun,05/05/2018,Euthanasia,Suffering,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby,2018
19,A725795,NaN,05/03/2016 12:39:00 PM,May,04/15/2016,Euthanasia,Underage,Other,Unknown,2 weeks,Opossum,Gray,2016
27,A766700,NaN,02/15/2018 08:59:00 AM,Feb,02/15/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown,2018
33,A765701,NaN,01/25/2018 09:39:00 AM,Jan,01/25/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142424,A858998,*Makaio,08/01/2022 05:00:00 PM,Aug,04/20/2022,Euthanasia,Suffering,Cat,Neutered Male,3 months,Domestic Shorthair,Brown Tabby,2022
142431,A862455,Marble,08/02/2022 04:07:00 PM,Aug,07/26/2020,Euthanasia,Suffering,Cat,Intact Female,2 years,Domestic Shorthair,Calico,2022
142440,A651306,Mason,08/02/2022 06:37:00 PM,Aug,04/08/2011,Euthanasia,Suffering,Dog,Neutered Male,11 years,Rottweiler,Black/Tan,2022
142450,A862975,A862975,08/03/2022 08:56:00 AM,Aug,06/27/2022,Euthanasia,Suffering,Cat,Intact Male,NaN,Domestic Longhair,Black Tabby/Brown,2022
142463,A862989,A862989,08/03/2022 11:47:00 AM,Aug,08/03/2020,Euthanasia,Rabies Risk,Other,Unknown,NaN,Raccoon,Brown/Black,2022

In [9]:
euth_pets = euthanized_df.groupby(['Animal Type']).count()/100
euth_pets = euth_pets.reset_index()
euth_pets = euth_pets[['Animal Type', 'Animal ID']].rename(columns= {'Animal ID':'Aniaml Count'})
euth_pets

  Animal Type  Aniaml Count
0        Bird          1.33
1         Cat         21.97
2         Dog         19.37
3   Livestock          0.02
4       Other         50.86

In [10]:
# 'Other' animal type were wild animals like Raccoons, Bats, Skunks, Foxes, Squirrels, and Opossums

### euthanized dog breed

In [16]:
euthanized_df

,Animal ID,Name,DateTime,Month,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Year
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,2020
17,A773792,NaN,06/05/2018 03:30:00 PM,Jun,05/05/2018,Euthanasia,Suffering,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby,2018
19,A725795,NaN,05/03/2016 12:39:00 PM,May,04/15/2016,Euthanasia,Underage,Other,Unknown,2 weeks,Opossum,Gray,2016
27,A766700,NaN,02/15/2018 08:59:00 AM,Feb,02/15/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown,2018
33,A765701,NaN,01/25/2018 09:39:00 AM,Jan,01/25/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142424,A858998,*Makaio,08/01/2022 05:00:00 PM,Aug,04/20/2022,Euthanasia,Suffering,Cat,Neutered Male,3 months,Domestic Shorthair,Brown Tabby,2022
142431,A862455,Marble,08/02/2022 04:07:00 PM,Aug,07/26/2020,Euthanasia,Suffering,Cat,Intact Female,2 years,Domestic Shorthair,Calico,2022
142440,A651306,Mason,08/02/2022 06:37:00 PM,Aug,04/08/2011,Euthanasia,Suffering,Dog,Neutered Male,11 years,Rottweiler,Black/Tan,2022
142450,A862975,A862975,08/03/2022 08:56:00 AM,Aug,06/27/2022,Euthanasia,Suffering,Cat,Intact Male,NaN,Domestic Longhair,Black Tabby/Brown,2022
142463,A862989,A862989,08/03/2022 11:47:00 AM,Aug,08/03/2020,Euthanasia,Rabies Risk,Other,Unknown,NaN,Raccoon,Brown/Black,2022

In [12]:
euth_dog_breed = euthanized_df[euthanized_df['Animal Type'] == 'Dog']
euth_dog_breed = euth_dog_breed.groupby(['Breed']).count().sort_values('Animal ID', ascending = False)
euth_dog_breed = euth_dog_breed.reset_index()
euth_dog_breed = euth_dog_breed[['Breed', 'Animal ID']].rename(columns= {'Animal ID':'Breed Count'})
euth_dog_breed.head(30)

                                 Breed  Breed Count
0                         Pit Bull Mix          493
1              Chihuahua Shorthair Mix          165
2               Labrador Retriever Mix          148
3                             Pit Bull           68
4                  German Shepherd Mix           65
5            Australian Cattle Dog Mix           36
6                  Chihuahua Shorthair           30
7                            Boxer Mix           29
8                       Rottweiler Mix           28
9                   Labrador Retriever           23
10                  Siberian Husky Mix           22
11                       Chow Chow Mix           21
12                       Dachshund Mix           21
13                     German Shepherd           20
14                Miniature Poodle Mix           19
15                   Border Collie Mix           18
16             Australian Shepherd Mix           17
17  American Staffordshire Terrier Mix           16
18                American Bulldog Mix           16
19               Yorkshire Terrier Mix           16
20         Labrador Retriever/Pit Bull           14
21                   Staffordshire Mix           14
22                       Catahoula Mix           13
23              Chihuahua Longhair Mix           13
24       American Pit Bull Terrier Mix           13
25             Miniature Schnauzer Mix           12
26  German Shepherd/Labrador Retriever           11
27                          Rottweiler           10
28                        Shih Tzu Mix           10
29                     Rat Terrier Mix           10

### euthanized dogs age

In [ ]:
euthanized_df

In [ ]:
euthanized_df